.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container .row, .container .column {
    margin-bottom: 25px;
}

.container .row:last-child, .container .column:last-child{
    margin-bottom: auto;
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

.title {
    font-weight: bold;
    letter-spacing: -3px;
    font-size: 30px;
    margin-bottom: 0px;
}

.text {
    font-size: 13px;
}

.wordTip {
    color: rgb(0, 221, 144);
    font-weight: 800;
}

.attemptCount {
    color: rgb(221, 0, 129);
}

.textAlignStart {
    text-align: start;
}

.textAlignCenter {
    text-align: center;
}

.justifyBetween {
    justify-content: space-between;
}

.justifySelfCenter {
    justify-self: center;
}

.w100 {
    width: 100%;
}

.triedLettersContainer {
    color: tomato;
}