.letterInputGuess {
    padding: 4px 7px;
    background-color: whitesmoke;
    border-radius: 8px;
    color: #242424;
    font-size: 25px;
    margin-right: 4px;
    text-align: center;
    align-self: center;
    width: 20px;
    border: none;
    outline: none;
}

.letterInputGuess[type="text"] {
    text-align: center;
    color: #242424;
}